
code[class*="language-"],
pre[class*="language-"] {
	color: #e3e3e3;
	font-size: 14px;
	font-family: Menlo, Monaco, "Courier New", monospace;
	direction: ltr;
	text-align: left;
	word-spacing: normal;
	white-space: pre;
	word-wrap: normal;
	line-height: 1.4;
	background: none;
	border: 0;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"] code {
	float: left;
	padding: 20px;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
	background: #364549;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 15px;
	margin: 1em 0;
	overflow: auto;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 5px 10px;
	line-height: 1;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #9dabae;
}

.token.selector,
.token.boolean,
.token.punctuation {
	color: #fff;
}


.token.namespace {
	opacity: .7;
}

.token.tag {
	color: #8bdf4c;
}

.token.atrule,
.token.attr-value,
.token.hex,
.token.string {
	color: #41b7d7;
}

.token.operator,
.token.property,
.token.entity,
.token.url,
.token.attr-name,
.token.keyword {
	color: #ff8095;
}

.token.regex {
	color: #9B71C6;
}

.token.entity {
	cursor: help;
}

.token.function,
.token.constant {
	color: #ebd247;
}

.token.variable {
	color: #fdfba8;
}

.token.number {
	color: #a980f5;
}

.token.important,
.token.deliminator {
	color: #E45734;
}

/* Line highlight plugin */
.line-highlight.line-highlight {
	background: rgba(255, 255, 255, .2);
}

.line-highlight.line-highlight:before,
.line-highlight.line-highlight[data-end]:after {
	top: .3em;
	background-color: rgba(255, 255, 255, .3);
	color: #fff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

/* for line numbers */
/* span instead of span:before for a two-toned border */

/*
.line-numbers .line-numbers-rows > span {
	border-right: 3px #d9d336 solid;
}
*/
